.error-message{
  max-height: 24px;
  width: 80%;
  font-size: 14px;
  line-height: 24px;
  background-color: #f2dede;
  border: 1px solid #ebcccc;
  color: #a94442;
  border-radius: .25em;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .error-message{
    max-height: 48px;
  }
}
