@import "./../../../../styles/variables";

.sign-in__button{
  color: lightgreen;
}
.username{
  line-height: 64px;
  font-size: 20px;
  margin: 0 10px 0 auto;
}

@media only screen and (max-width: 1025px){
  .mdl-layout__header{
    display: flex;
    flex-wrap: wrap;
  }
}
