  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <a [routerLink]="['/products']" class="mdl-layout-title mdl-navigation__link">RN</a>
      <div class="mdl-layout-spacer"></div>
      <p class="username">{{username}}</p>
      <button class="mdl-button mdl-js-button mdl-button--raised sign-in_button" (click)="goToAuthorize()" *ngIf="!isLogin">
        Sign In
      </button>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" (click)="logOut()" *ngIf="isLogin">
        Log Out
      </button>
    </div>
  </header>
