<!--<div class="mdl-grid">-->
  <!--<div class="mdl-cell mdl-cell&#45;&#45;2-offset mdl-cell&#45;&#45;8-col">-->
    <!--<div class="details">-->
      <!--<div class="details-content mdl-card">-->
        <!--<div class="details&#45;&#45;head mdl-card__title">-->

        <!--</div>-->
        <!--<img [src]="product.img" class="details&#45;&#45;image">-->
        <!--<div class="details&#45;&#45;text">-->

        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<p>{{product.title}}</p>-->
<!--<p>{{product.text}}</p>-->


<div class="mdl-grid details-wrap">
  <div class="mdl-cell mdl-cell--8-col mdl-card mdl-shadow--4dp details">
    <div class="mdl-card__title">
      <h1 class="mdl-card__title-text mdl-typography--text-center">
        {{product.title}}
      </h1>
    </div>
    <img class="details__image" [src]="product.img" alt="">
    <div class="details__text">
      <p>{{product.text}}</p>
    </div>
    <div class="details__line"></div>
  </div>
</div>
