//.details {
//  width: 100%;
//  display: flex;
//  flex-direction: column;
//  &--content{
//    display: flex;
//    flex-direction: column;
//    width: calc(100vw * 0.6);
//  }
//  &--head{
//    width: 100%;
//    height: calc(100vw * 0.03);
//    margin: 0 auto;
//  }
//  &--image {
//    width: 100%;
//    height: calc(100vw * 0.39);
//    object-fit: contain;
//    margin: 0 auto;
//  }
//}

.details {
  margin: 0 auto;
  &__image {
    width: 100%;
    height: calc(100vw * 0.4);
    margin: 0 auto; }

  &__content {
    padding: 25px; }

  &__text{
    border-top: 1px solid black;
    p{
      font-size: 18px;
    }
  }

  &__author {
    margin-left: auto;
    margin-right: 5px; }

  &__line {
    width: 100%;
    height: 5px;
    background-color: black; }
}

