
<div class="mdl-textfield mdl-js-textfield">
  <input [formControl]="control" class="mdl-textfield__input" type="{{type}}" id="{{placeholder}}">
  <label class="mdl-textfield__label" for="{{placeholder}}">{{placeholder}}</label>
</div>
