.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.sign-up{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  &__header{
    display: flex;
    height: 40px;
    background-color: #6a67ce;
  }
  &__text{
    font-size: 32px;
    color: white;
    line-height: 40px;
  }
  &__icon{
    margin: 4px 10px 4px auto;
    font-size: 32px;
    color: white;
    cursor: pointer;
  }
  &__body{
    display: flex;
    flex-direction: column;
    form{
      display: flex;
      flex-direction: column;
      padding: 5px;
    }
  }
  &__message{
    width: 60%;
    margin: 0 auto;
  }
  &__input{
    margin: 0 auto;
  }
  &__submit{
    width: 20%;
    margin: 0 auto;
  }
}
