<div class="wrapper">
  <div class="sign-up">
    <div class="sign-up__header">
      <p class="sign-up__text">Sign Up</p>
      <i class="sign-up__icon fa fa-caret-left" (click)="goBack()" aria-hidden="true"></i>
    </div>
    <div class="sign-up__body">
      <div class="sign-up__message">
        Here you can register on out Web Site.
        If you already have account, you may <a [routerLink]="['/authorization', 'sign-in']">Login</a>
      </div>
      <form [formGroup]="signUpForm" (submit)="submit($event, signUpForm)">
        <rn-smart-input class="sign-up__input"
                        [placeholder]="'Email'"
                        [type]="'email'"
                        [control]="signUpForm.get('email')">
        </rn-smart-input>
        <rn-smart-input class="sign-up__input"
                        [placeholder]="'Password'"
                        [type]="'password'"
                        [control]="signUpForm.get('password')">

        </rn-smart-input>
        <rn-smart-input class="sign-up__input"
                        [placeholder]="'Confirm Password'"
                        [type]="'password'"
                        [control]="signUpForm.get('confirm')">

        </rn-smart-input>
        <button class="sign-up__submit mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Submit</button>
      </form>
    </div>
  </div>
</div>

