<div class="wrapper">
  <div class="sign-in">
    <div class="sign-in__header">
      <p class="sign-in__text">Sign In</p>
      <i class="sign-in__icon fa fa-caret-left" (click)="goBack()" aria-hidden="true"></i>
    </div>
    <div class="sign-in__body">
      <div class="sign-in__message">
        Welcome to our Site.Please enter your credentials.
        If you don't have account, you may <a [routerLink]="['/authorization', 'sign-up']">Register</a>
      </div>
      <form [formGroup]="signInForm" (submit)="submit($event, signInForm)">
        <rn-smart-input class="sign-in__input"
                        [placeholder]="'Email'"
                        [type]="'email'"
                        [control]="signInForm.get('email')">
        </rn-smart-input>
        <rn-smart-input class="sign-in__input"
                        [placeholder]="'Password'"
                        [type]="'password'"
                        [control]="signInForm.get('password')">

        </rn-smart-input>
        <button class="sign-in__submit mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Submit</button>
      </form>
    </div>
  </div>
</div>

